.RowCategoryComponent {
  display: flex;
  flex-direction: row;
  margin: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.ColumnCategoryComponent {
  display: flex;
  flex-direction: column;
  margin: 19px;
}
